body{
    font-size: 1rem;
    padding: 0;
    margin: 0;
    line-height: 1.em;
}
*{
    text-decoration: none;
}
nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 9999;
    box-shadow:black 2px 2px 14px;
    display: flex;
    text-align: center;
    justify-content: flex-end;
    flex-direction: row;
    
}
section{
    background-color: rgb(128, 165, 197);
    margin-top: 50px;
    padding: 10px;
}
footer{
margin-top: 50px;
    height: 100px;
    width: 100%;
display: flex;
flex-direction: row;
text-align: center;
text-justify: distribute;

bottom: 0;
left: 0;
}
footer a{
    font-size: .7em;
    justify-self: flex-end;
    

}
.h100{
    height: 100vh;
}
.h90{
    height: 90vh;
}
.h80{
    height: 80vh;
}
.h70{
    height: 70vh;
}
.black{
    background-color: black;
}

.nav-logo-wrapper{
    left: 10px;
    position: absolute;
    padding: 10px;
    justify-self: start;
}
.logo{
    line-height: 1em;
    height: 100%;
    font-size: 1.5em;
position: absolute;
}
.hamburger-wrapper{
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    justify-self: self-end;
    position: relative;
    right: 10px;
    margin: 10px;

}
.footer-section{
    margin: 5px;
    padding: 5px;
    background-color: white;
    width: 30%;
}