body{
    font-size: 1rem;
    height: 100%;
}
footer a{
    font-size: .7em;
    justify-self: flex-end;
    

}
.h100{
    height: 100vh;
}
.h90{
    height: 90vh;
}
.h80{
    height: 80vh;
}
.h70{
    height: 70vh;
}

.black{
    background-color: black;
}

.nav-logo-wrapper{
    left: 10px;
    position: absolute;
    padding: 10px;
    justify-self: start;
}
.logo{
    line-height: 1em;
    height: 100%;
    font-size: 1.5em;
position: absolute;
}
.hamburger-wrapper{
    width: 30px;
    height: 30px;
    background-color: aliceblue;
    justify-self: self-end;
    position: relative;
    right: 10px;
    margin: 10px;

}
.footer-section{
    margin: 5px;
    padding: 5px;
    background-color: white;
    width: 30%;
}